style. 
	table {
		margin:20px;
	}
	a {
		margin:10px;
	}

mixin draw_table(data, fields)
	for row in data
		tr
			td=row.id
				a(href='/kms/edit_record/'+row.id) edit
				a(href='/kms/delete_record/'+row.id) delete
				a(href='/kms/copy_record/'+row.id) copy
			for field in fields
				td=row[field.fname]

mixin draw_field(data, fields)
	for row in data
		tr
			td=row.id
				a(href='/kms/template/edit/'+row.fname) edit
			for field in fields
				td=row[field.fname]

for table in tables
	h2=table.title
	table(border=1)
		tr
			th id
			for field in table.fields
				th=field.fname

			-x=JSON.stringify(table.data)

			if table.title!='fields'
				if table.data
					+draw_table(table.data, table.fields)
			else 
				+draw_field(table.data, table.fields)

	if table.title!='fields'
		a(href='/kms/new_record') new_record
		a(href='/kms/table/save') save_table
		a(href='/kms/table/load') load_table
