include base.jade

style.
	body {
		background-color:#ffdddd;
	}
	a {
		margin-right:15px;
	}
	.error{
		background-color:yellow;
		color:red;
	}
	.component {
		min-width:330px;
		margin-left:15px;
		margin-bottom:10px;
	}

script(src='/cdn/jquery')

mixin draw_form(inputs, ovalues)
	for e in inputs
		if ovalues
			- oval=ovalues[e.fname];
		- xclass = e.fname=='id' ? 'hide' :'show'

		label(id=e.fname, class=xclass)=e.fname
		br(id=e.fname, class=xclass)
		case e.ftype
			when 'select'
				- oval=oval||e.default
				select.component(id=e.fname, name=e.fname,class=xclass,|
					nullable=e.nullable, value=oval) 
					if e.values
						- xtype=typeof e.values

						if xtype=='string'
							- xval=e.values.split(',')
						else
							- xval=e.values;

						for v in xval
							if v==oval
								option(val=v selected)=v
							else
								option(val=v)=v
			default
				- etype=e.encrypted||'no';
				- etype=(etype=='yes') ? 'password' :'text';
				input.component(id=e.fname, name=e.fname, type=e.ftype, class=xclass,| 
					nullable=e.nullable, value=oval, class=xclass)

				- err_field=e.fname+'_error'
				span.error(id=e.fname, xclass=xclass)=values[err_field]
		br(id=e.fname, class=xclass)

if false
	- x=JSON.stringify(inputs)
	- y=JSON.stringify(values)
	h2 inputs
	div=x
	h2 values
	div=y
form(method='post')
	+draw_form(inputs, values)
	button.submit submit

a(href='/kms/single_field/edit/'+prev_field) prev_field
a(href='/kms/single_field/edit/'+next_field) next_field
br

script.
	var log=console.log;

	function validate(cb){	
		var err=null;

		$('.component').map(function(e){
			var $this=e;
			var nullable=$(this).attr('nullable')||'yes';
			var vnull=$(this).val().length==0;
			var fname=$(this).attr('id');
			//log(nullable, vnull);

			if (nullable=='no' && vnull) {
				var warn=$('<span />').addClass('warn')
					.text('must have value')
					.css('color','red');
				$(this).after(warn);
				$(this).css('background-color','yellow');
				$(this).focus();
				if (!err) err=$(this);
			}
		});	

		cb(err)
	}

	$(function(){

		$('.component').keypress(function(e){
			if (e.which==13){
				var index = $('.component').index(this) + 1;
				$('.component').eq(index).focus();
			}
		});

		$('button.submit').click(function(e){
			$('span.warn').remove();
			e.preventDefault();
			validate(function(err){
				log('err',err);
				if (err) {
					log('error');
					$(err).focus();
				}
				else {
					log('submit');
					$('form').submit();
				}
			});
		});
	});
