script(src='https://code.jquery.com/jquery-3.2.1.min.js')

style. 
	table {
		margin:20px;
	}
	a {
		margin:10px;
	}
	.modified {
		background-color:yellow;
	}

	.hide {
		display:none;
	}

mixin draw_table_field(fname, ftype, val, choice)
	case ftype
		when 'string'
			label.data=val
		when 'select'
			+tselect.data(ftype, choice, val)
		default
			input.data(type=ftype)=val

mixin draw_table(data, fields)
	for row in data
		tr
			td=row.id
				a(href='/kms/edit_record/'+row.id) edit
				a(href='/kms/delete_record/'+row.id) delete
				a(href='/kms/copy_record/'+row.id) copy
			for field in fields
				- x=JSON.stringify(field)
				//td=x
					//row[field.fname]
				-fname=field.fname
				-ftype=field.ftype
				-val=row[fname];
				-choice=field.values||''
				//-choice=choice.split(',')
				td
					if true
						div=fname
						div=ftype
						div=val
						div=choice
				+draw_table_field(fname, ftype, val, choice)

mixin tselect(fname, values, oval)
	select.edit
		for val in values
			if oval==val
				option(val=val, selected)=val
			else
				option(val=val)=val

mixin draw_field(data, fields)
	- x=JSON.stringify(input_types)
	div=x
	for row in data
		tr
			td=row.id
				a(href='/kms/template/edit/'+row.fname) edit
			for field in fields
				- val=row[field.fname]
				case field.fname
					when 'ftype'
						td
							+tselect('ftype', input_types, val)
					when 'encrypted'
						td
							+tselect('encrypted', ['yes','no'], val||'no')
					default
						td=val
			td 
				//button.up up
				//button.down down
				button.modified.save save
				button.modified.cancel cancel

for table in tables
	h2=table.title
	table(border=1)
		tr
			th id
			for field in table.fields
				th=field.fname

			-x=JSON.stringify(table.data)

			if table.title!='fields'
				if table.data
					+draw_table(table.data, table.fields)
			//else 
			//	th action
			//	+draw_field(table.data, table.fields)
	button.save_all_field save_all_field

	if table.title!='fields'
		a(href='/kms/new_record') new_record
		a(href='/kms/table/save') save_table
		a(href='/kms/table/load') load_table
		button.save_all_record save_all_record

script.
	log=console.log;

	function table2json(table,idx) {
		var myRows = [];
		var fields=table.find("th").map(function(e){return $(this).text()});

		$(table).find('tbody tr').map(function(j,tr) {
			var go=true;

			var cols=$(this).find("td");
			if (j==0) return;
			if (idx) go=idx==j;

			if (!go) return;

			var row={};
			cols.map(function(i,e){
				if (i>cols.length-2) return;

				val=$(this).find('.data').val()
				if (!val) val=$(this).text()

				row[fields[i]] = val; 

				log(row);
			});    

			myRows.push(row);
		});

		//	log(myRows);
		return myRows;
	}

	$(function(){
		$('.up').click(function(e){
			var tr=$(this).closest('tr')
			var k=$(tr).index()
			if (k>1) {
				tr.after($(tr).prev());
			}
		});
		$('.down').click(function(e){
			var tr=$(this).closest('tr')
			var k=$(tr).index()
			if (k<$(tr).closest('table').find('tr').length)
				tr.before($(tr).next());
		});
		$('.save_all_field').click(save_all_field);
		$('.save_all_record').click(save_all_record);
		
		function save_all_record(){
			var tab=$('table:first')
			obj=table2json(tab);
			log('updateing', obj);
			alert('go save_all_table');

			$.post('/kms/table/update_all',{table:obj}, function(data){
				alert(data);
				log('ret',data);
				if(data=='done') location.reload();
			});
		}

		function save_all_field(){
			var tab=$('table:last')
			obj=table2json(tab);
			log('updateing', obj);
			alert('go save_all_field');

			$.post('/kms/field/update_all',{fields:obj}, function(data){
				log('ret',data);
				if(data=='done') location.reload();
			});
		}

		function save_field(tr){
			var tab=$(tr).closest('table');
			obj=table2json(tab, tr.index());
			log(tr.index, 'obj',obj);
			alert('go update '+JSON.stringify(obj));

			$.post('/kms/field/update', obj[0], function(data){
				log('ret',data);
				if(data=='done') location.reload();
				log('data',data);
			});
		}

		$('button.modified').hide();

		$('.edit').on('focus',function(){
				previous=this.value;
				if (!$(this).attr('oldvalue'))
					$(this).attr('oldvalue',previous);
		}).change(function(e){
			var old=$(this).attr('oldvalue');

			if (old != this.value){
				log('value changed');

				$(this).addClass('modified');
				$(this).closest('tr').find('button.modified').show();
			}
			else{ 
				log('value same');
				
				$(this).removeClass('modified');
				$(this).closest('tr').find('button.modified').hide();
			}
		})
		
		$('button.cancel').click(function(e){
			$(this).closest('tr').find('.modified').map(function(e){
				this.value=$(this).attr('oldvalue');
				$(this).attr('oldvalue',null);
			})
			$(this).closest('tr').find('.edit').removeClass('modified');
			$(this).closest('tr').find('.edit').closest('tr').find('button.modified').hide();
		});

		$('button.save').click(function(e){
			save_field($(this).closest('tr'), function(err,data){
				log(err);
				log('data',data);
				this.value=$(this).attr('oldvalue');
				$(this).attr('oldvalue',null);
			});
			$(this).closest('tr').find('.edit').removeClass('modified');
			$(this).closest('tr').find('.edit').closest('tr').find('button.modified').hide();
		})
	});
